@charset "UTF-8";
.green{
    position: absolute;
    top: 10%;
    left: 10%;
}
.skyblue{
    position: absolute;
    bottom: 0;
    right: 0;
}
.red{
    position: fixed;
    right: 0;
    top: 50%;
}
.parent{
    position: relative;
    position: absolute;
    position: static;
    top: 100px;
    left: 500px;
}
/* absolute : 절대좌표
-부모가 static 아닌경우 부모기준
-조상이 static 아닌경우 브라우저기준
*/
body{
    position: fixed;
    top: 100px;
    left: 300px;
}