@charset "UTF-8";
@import url(./font.css);
p{
    border: 1px solid #000;
}
/* inline과 inline-block이 섞여있을때 수직 기준선 맞춤 */
/* 선언위치는 형제요소중 inline-block에 한다. 적용은 inline */
.valign img{
  vertical-align: middle;
  vertical-align: top;
  vertical-align: text-top;
  
}