h2#h2 {
  color: green;
}
/* font-fmaily */
#box1 h2{
  /* 글꼴:글꼴명1,글꼴명2,서체계열 */
  /* 속성값에 특수문자 포함시 따옴표로 감싸야함 */
  font-family:'Times New Roman', Times, serif;
  font-size: 3em; 
  /* 1em=16px
  2em=32px 3em=48px*/
  font-weight: normal;
  font-weight: bold;
   
}
#box1 p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
}
#box2 h2{
  font-style: italic;
  color: blueviolet;
}
#box2 p{
  font-variant: small-caps;
  color: #363;
}
#box3 h2{
  /* 단축문법: sugar syntax : 반드시 한칸띄어쓰기 필요한 문법만 보기 */
  font:4em Arial;
  border: 1px solid violet;
}
#box3 p{
  font:small-caps 30px "Times New Roman";
}