@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
.wrap{
    width: 500px;
    margin: auto;
}
img{
    width: 100%;
}
.info_wrap{
    border: 1px solid #ddd;
    text-align: center;
}
.box{
    padding: 20px;
    line-height:3;
}
h2{
    text-align: left;
    background: black;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin: auto;
}
h3{
    color: red;
    font-weight: normal;
    word-spacing:5px;
    font-size: 20px;
}
p{
    font-weight: bold;
    letter-spacing:1px;
    font-size: 15px;
}
.blue{
    color: blue;
}
/* box중 둘째 */
/* .box:nth-child(2) { */
.box:nth-of-type(2){
    border-top:2px solid #ddd;
    border-bottom:2px solid #ddd;
}
/* 4남2녀
  6남매 -> 둘째 님향제(둘째인 .box)
  남형제 중에 둘째 : nth-of-type
*/