@charset "UTF-8";

h1{
    font-size: 28px;
    letter-spacing: 1.5px;
}
ul{
    list-style-type: none;
}
li{
    line-height: 2.5;
}
li .h2{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    color: orange;
}
